<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="singleSeries" value="true"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="cn1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"/>-->
    <add name="cn1" connectionString="Server=CAPITZZRADPAE\SQLEXPRESS;Database=Radiopaedia;Trusted_Connection=False;User Id=appuser1;Password=Password123;Connection Timeout=120"/>    
  </connectionStrings>
</configuration>